html{
  font-family: "dancing script", sans-serif;
}

#primeira{
    height: 200px;
    width: 200px;
    background-color: #87CEEB;
    display: inline-block;
}

#segunda{
      height: 200px;
      width: 200px;
      background-color: #3CB371;
      display: inline-block;
}

#terceira{
    height: 200px;
    width: 200px;
    background-color: #DAA520;
}
