html{"dancing script"}
font-family:sans-serif,

#primeira{
  height: 200px;
   width: 200px;
   background-color: green;s
}

#segunda{
    height: 200px;
     width: 200px;
     background-color: green;
}
#terceira{
    height: 200px;
     width: 200px;
     background-color: red;
}
